@import 'reset.css';
@import 'font-larsseit.css';
@import 'font-lato.css';
@import 'font-roboto.css';

.top-nav {
  margin-top: 1em;
  margin-left: 15%;
}
.picture {
  margin: auto;
  text-align: center;
}
.top-nav-btn {
  background-color: #04aa6d;
  margin: 0;
  color: white;
  padding: 10px;
  font-size: 1em;
  border: none;
}
h1,
h2,
footer {
  font-family: 'Roboto';
  text-align: center;
  color: indigo;
}
h1:hover {
  color: red;
  font-weight: 700;
}
.font-box {
  margin: auto;
  width: 70%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15px;
}

.larsseit {
  font-family: 'Larsseit';
  color: blue;
}
.roboto {
  font-family: 'Roboto';
  color: coral;
}
.lato {
  font-family: 'Lato';
  color: darkcyan;
}
.normal {
  font-weight: 400;
  font-size: 1.5em;
}
.medium {
  font-weight: 500;
  font-size: 1.5em;
}
.bold {
  font-weight: 700;
  font-size: 1.5em;
}
.top-nav-btn:hover {
  background-color: blue;
}
